@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



.contact-container {
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/contact-bg.jpg) no-repeat center center/cover;
}

.contact-container .form {
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    position: relative;
}

.contact-container .form .contact-h1 {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.contact-container .form .input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #ddd;
}

.contact-container .form .input::placeholder {
    color: rgb(255, 255, 255);
}

.contact-container .form #name,
.contact-container .form #mobile,
.contact-container .form #email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    background: none;
}

.contact-container .form .contact-h4 {
    color: #fff;
    font-weight: 300;
    min-width: 300px;
    max-width: 600px;
    margin-top: 20px;
}

.contact-container .form .count {
    color: #fff;
    align-items: center;
    display: flex;
    font-size: 15px;
    position: absolute;
    top: 280px;
    right: 30px;



}

.contact-container .form .textarea {

    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    padding: 20px;
    outline: none;
    min-width: 300px;
    max-width: 600px;
    min-height: 80px;
    max-height: 100px;
}


.textarea::-webkit-scrollbar {
    width: 1em;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.713);
}

.contact-container .form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
    justify-content: center;


}

.contact-container .form #button:hover {
    opacity: 0.7;
}

.contact-parah {
    background-color: #1f1f1f;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}


@media only screen and (min-width: 325px) and (max-width: 450px) {

    .contact-container .form {
        min-width: 325px;
        max-width: 350px;
        min-height: 440px;
        max-height: 500px;
    }

    .contact-container .form .textarea {
        min-width: 290px;
        max-width: 300px;
    }

    .contact-container .form .contact-h1 {
        width: 300px;
    }

    .contact-container .form .count {
        top: 350px;
        right: 12px;
    }


}