@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

.navbar {
    background-color: rgb(24, 24, 24);
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;


}

.nav-list {
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    height: 40px;
}


.nav-link {
    color: aliceblue;
    padding: 5px 30px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 400;
    display: flex;
    align-items: center;
    text-align: right;
    transition-timing-function: ease-in-out;
    transition: .5s;
}

.nav-link:hover {
    background-color: rgb(124, 126, 125);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;

}




.header {
    background: #21CF06;
    background: linear-gradient(to right, #21CF06 12%, #FF0000 46%, #0E48CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;


}

.header:hover {
    background: #21CF06;
    background: linear-gradient(to right, #0E48CF 12%, #21CF06 46%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat Subrayada', sans-serif;

}